@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

h2{
    font-family: 'Poppins', sans-serif;
}

.violet{
    background-color: blueviolet;
}

.text{
    color:whitesmoke;
}

.nav{
    display: flex;
    justify-content: end;
}